PORT=8080                 # Node.js app port
NODE_ENV=development

# MySQL Configuration
DATABASE_USER=root
DATABASE_PASSWORD=super-strong-root-password
DATABASE_NAME=note_taker_db
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3308
DATABASE_URL=mysql://root:super-strong-root-password@127.0.0.1:3308/note_taker_db
MYSQL_ROOT_PASSWORD=super-strong-root-password

REDIS_URL=redis://127.0.0.1:6381

# host port for accessing mysql and redis (change these if host ports are already occupied)
MYSQL_HOST_PORT=3308       # Host port for MySQL container
REDIS_HOST_PORT=6381    # Host port for Redis container

# JWT Secrets (use strong, randomly generated values)
JWT_ACCESS_KEY_SECRET=jwt-access-secret
JWT_REFRESH_KEY_SECRET=jwt-refresh-secret

# CORS
CORS_ORIGIN=*