PORT=8080
NODE_ENV=development

DATABASE_URL=mysql://root:root@mysql:3306/note_taker_db
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_NAME=note_taker_db
DATABASE_HOST=mysql
DATABASE_PORT=3306

REDIS_URL=redis://redis:6379

# You can generate using: openssl rand -hex 64
JWT_ACCESS_KEY_SECRET=jwt-access-secret
JWT_REFRESH_KEY_SECRET=jwt-refresh-secret

CORS_ORIGIN=*
